<h1>Images#show</h1>
<p>Find me in app/views/images/show.html.erb</p>

<p>Farm Id, first value:</p>
<%= @flickr_results["rsp"]["photos"]["photo"][0]["farm"] %>
<p>Id</p>
<%= @flickr_results["rsp"]["photos"]["photo"][0]["id"] %>
<p>Secret</p>
<%= @flickr_results["rsp"]["photos"]["photo"][0]["secret"] %>
<p>Server</p>
<%= @flickr_results["rsp"]["photos"]["photo"][0]["server"] %>
<br><br>
<p>Flickr results</p>
<%= @flickr_results %>
<br><br>

<p>Full JSON??</p>
<%= @results %>

<br><br>
<p>Break it down now</p>
<% @results["images"].each do | image | %>
<%= "Id: #{image["id"]} Title: #{image["title"]} Uri: #{image["referral_destinations"][0]["uri"]}" %><br>
<% end %>


<br><br>
<p>response from pictaculous (please?)</p>
<%= @response %>



<p>First image??</p>
<!-- <img src=" <%#= @full_json["images"][0]["referral_destinations"][0]["uri"] %>"> -->

<p>binary?</p>
<%#= @binary %>

<p>encoding?</p>
<%= @encoding %>
