<h1>Images#show</h1>
<p>Find me in app/views/images/show.html.erb</p>

<p>Farm Id, first value:</p>

<%= @flickr_results["rsp"]["photos"]["photo"][0]["farm"] %>
<p>Id</p>
<%= @flickr_results["rsp"]["photos"]["photo"][0]["id"] %>
<p>Secret</p>
<%= @flickr_results["rsp"]["photos"]["photo"][0]["secret"] %>
<p>Server</p>
<%= @flickr_results["rsp"]["photos"]["photo"][0]["server"] %>
<br><br>


<% @flickr_results["rsp"]["photos"]["photo"].each do |photo| %>
  <% farm_id = photo["farm"] %>
  <% secret = photo["secret"] %>
  <% id = photo["id"] %>
  <% server_id = photo["server"] %>
  <% size_token = "m" %>
  <%= link_to "image #{id}", "https://farm#{farm_id}.staticflickr.com/#{server_id}/#{id}_#{secret}_#{size_token}.jpg" %>
<% end %>


<p>Full JSON from Getty</p>

<% @getty_results["images"].each do |photo| %>
  <%= photo["referral_destinations"][0]["uri"] %>
<% end %>
